{{ define "main" }}
{{ $posts_title := index .Site.Params "posts_title" | default "Posts" }}
{{ $posts_count := index .Site.Params "posts_count" | default 5 }}
{{ $pubs_title := index .Site.Params "pubs_title" | default "Publications" }}
{{ $pubs_count := index .Site.Params "pubs_count" | default 5 }}

   <div class="container">       
   <div class="sidebar">

<b>Markets,<br>
Mechanisms,<br>
Machines</b>
   </p>
   <p>
University of Virginia <br>
CS 4501 / ECON 4730<br>
Spring 2020
</p>
<p>
<b><a href="/syllabus/">Syllabus</a></b><br>
<b><a href="/schedule/">Schedule</a></b><br>
</p>
</p>
   <b><a href="/post/">Posts</a></b>
   </p>
<!--   <div class="more"><a href="/posts/">More...</a></div>-->
   </p>
   <p>
   <b>Instructors</b><br> 
   <a href="http://people.virginia.edu/~dn4w/">Denis Nekipelov</a><br>
   <a href="https://www.cs.virginia.edu/evans">David Evans</a>
   </p>
   <P>

   <b>TAs</b><br>
<A href="https://www.linkedin.com/in/cameron-lloyd/">
Cameron Lloyd</a><br>
<a href="https://economics.virginia.edu/people/profile/kd5tt">Kyeongtak Do</a>
</p>


   <p>
   <a href="/s19/"><b>Spring 2019 Course</b></a>
   </div>



   <div class="content">

      <p>
<h1>Markets, Mechanisms, Machines</h1>
      
This course was offered in <a href="/s19">Spring 2019</a> and 
<a href="/syllabus">Spring 2020</a> (which was transformmed into an on-line class 
when the University went into pandemic lockdown in March 2020), co-taught by 
<a href="https://www.cs.virginia.edu/evans/">David Evans</a> (Computer Science)
and <a href="http://people.virginia.edu/~dn4w/">Dennis Nekipelov</a>. Since then,
a related course <em>Introduction to Algorithmic Economics</em> has been taught in 
some semesters.

</p>

<hr style="height:5px;border:none;color:#018383;width:80%;background-color:#018383;">
</hr>
<hr style="height:20px;border:none;color:#018383;width:80%;background-color:#f5dea3;">
</hr>


</p>

   {{ range .Site.Pages }}
       {{ if eq .Type "index" }}
          {{ .Content }}
       {{ end }}
   {{ end }}


   
   {{ range first $posts_count (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
   {{ partial "post-full-summary" . }}
   {{ end }}

    <footer>
      <nav>
	<a href="/post/" class="button hollow primary">All {{ $posts_title }}</a>
      </nav>
    </footer>

</div>
</div>

{{ end }}

